<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Базовые мета-теги для поисковиков -->
  <title>Document</title>

  <!-- Мета-теги которые выводят информацию о странице в поисковой запрос -->
  <meta name="description" content="описание не длиннее 155 символов" />
  <meta name="keywords" content="мета-теги, шаблон, html, css" />

  <!-- Контролирует поведение поисковых систем при индексации страницы -->
  <meta name="robots" content="index,follow,noodp" />

  <link rel="stylesheet" href="../css/main.min.css">
</head>
<body>

<!-- Шапка -->
<header></header>

<!-- Основной контент -->
<main></main>

<!-- Подвал -->
<footer></footer>

<!-- Скрипты -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../js/libs.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>